# ==============================================================================
# Clio Resource Server - Variables de Entorno (Plantilla de Configuración)
# ==============================================================================

# Entorno de ejecución (development | production | test)
NODE_ENV=development

# Puerto del servidor HTTP NestJS
PORT=8080

# Conexión a la base de datos NoSQL de Auditoría (MongoDB 7.0+)
# Formato: mongodb://<usuario>:<contraseña>@<host>:<puerto>/<base_de_datos>?authSource=<admin>
MONGODB_URI=mongodb://admin:admin12345@localhost:27017/clio?authSource=admin

# Conexión al broker de mensajería AMQP (RabbitMQ)
# Formato: amqp://<usuario>:<contraseña>@<host>:<puerto>
RABBITMQ_URI=amqp://guest:guest@localhost:5672

# Configuración de Topología RabbitMQ para Auditoría
RABBITMQ_AUDIT_EXCHANGE=clio.topic.exchange
RABBITMQ_AUDIT_QUEUE=clio-events-queue
RABBITMQ_AUDIT_ROUTING_KEY=clio.#
RABBITMQ_AUDIT_DLX=x-clio-events-dlq
RABBITMQ_AUDIT_DLQ_KEY=clio-events-dlq-key

# Endpoint de JWKS del Servidor de Autorización Cerberos SSO para validación de tokens
JWKS_URI=http://localhost:8080/oauth2/sso/jwks

# Emisor esperado (iss) en la validación criptográfica de tokens JWT y M2M
JWT_ISSUER=http://localhost:8080
